body {
    background-color: #eee;
    font-family: 'Ubuntu Mono', serif;
}

.content {
    margin:auto;
    width:800px;
}

.d1 {
    display: block;
    width: 100%;
}

.d2 {
    float:left;
    width: 50%;
}

.d2 form label {
    display:inline-block;
    width:100px;
}

div.menu span {
    margin-right: 20px;
}

a:hover {
    text-decoration: none;
    background-color: #666;
    color:#fff;
}

div.message {
    display:block;
    width:100%;
    min-height:50px;
    padding:20px;
}

div.pictures {
    border: 1px #aaa solid;
    padding:5px;
    margin-top:20px;
}

div.picture {
    float:left;
    width:200px;
    height:290px;
}

.mini {
    width: 180px;
    height:200px;
}

div.picture p {
    margin-bottom: 2px;
}

div.picture p small {
    display:block;
}

.clear {
    clear: both;
}

table {
    width:100%;
}

table th {
    text-align: left;
}

table tbody tr:nth-child(even) td {
    background-color: #fff;
}